OrderingSystem/test.dtd

<!ELEMENT dataset (
    CUSTOMER*,
    ORDERITEM*,
    ORDERS*,
    PRODUCT*)>

<!ELEMENT CUSTOMER EMPTY>
<!ATTLIST CUSTOMER
    CUSTOMER_ID CDATA #REQUIRED
    CUSTOMER_NAME CDATA #REQUIRED
    CUSTOMER_CREDITLIMIT CDATA #IMPLIED
>

<!ELEMENT ORDERITEM EMPTY>
<!ATTLIST ORDERITEM
    ORDERITEM_ID CDATA #REQUIRED
    ORDERITEM_QTY CDATA #REQUIRED
    ORDERITEM_PRODUCT CDATA #REQUIRED
    ORDERITEM_ORDERID CDATA #IMPLIED
>

<!ELEMENT ORDERS EMPTY>
<!ATTLIST ORDERS
    ORDER_ID CDATA #REQUIRED
    ORDER_DATE CDATA #REQUIRED
    ORDER_PRICE CDATA #IMPLIED
    ORDER_STATUS CDATA #IMPLIED
    ORDER_CUSTOMER CDATA #REQUIRED
>

<!ELEMENT PRODUCT EMPTY>
<!ATTLIST PRODUCT
    PRODUCT_ID CDATA #REQUIRED
    PRODUCT_NAME CDATA #REQUIRED
    PRODUCT_QTY CDATA #REQUIRED
    PRODUCT_PRICE CDATA #REQUIRED
>

